body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}

.container {
    margin: auto;
    border: 1px solid #e5e7eb;
    padding: 25px 30px 25px 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 12px;
    box-shadow: 2px 4px 16px #696666;
    gap: 10px;
}

.container h1 {              /*heading*/
    font-size: 48px;
    margin-top: 0px;
    color: rgb(28, 171, 171);
    font-family: sans-serif;
}

.currentChoice {           /*you chose: uchoice img       botchoice img: bot chose*/
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.userChoice, .botChoice {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
}

.scoreDisplay {     /*your score:0   You lose    Bot score:1*/
    display: flex;
    padding: 10px;
}

.currentScore, .currentResult {
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: sans-serif;
    color: rgb(28, 171, 171);
}

.currentResult {
    flex-direction: column;
    gap:10px;
}

.userInput {        /*the 3 images*/
    display: flex;
    padding: 10px;
    gap: 15px;
}

.userInput .choiceImg {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    cursor: pointer;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
}

img {
    max-width: 100px;
    max-height: 100px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 24px;
}
